@media screen and (max-width: 991px)
{
	/* ---- ---- GENERAL ----------- */

	/* cible tous les h1 de chaque page */
	.contentBox h1
	{
		padding-top: 80px;
		margin-left: auto;
		margin-right: auto;
	}

	/* cible seulement le h1 "YUMMY" sur la page d'accueil */
	#home h1
	{
		padding-top: 0;
	}
	
	/* courtes phrases dans l'en-tête */
	.contentBox h2
	{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	h2
	{
		font-size: 1.7em;
		margin-bottom:40px;
	}

	p
	{
		font-size: 1em;
	}



	.bouton_valid, a.bouton_valid
	{
		font-size: 1.1em;
	}



	/*--------- NAVIGATION ----------*/
	
	.navbar
	{
		padding-bottom: 20px;
	}

	.navbar.clicked
	{
		/* background menu devient noir au clic sur le hamburger */
		background: #000!important;
	}

	.navbar .btn_connexion
	{
	    margin-left: 7px;
	}

	

	/*------BARRE DE RECHERCHE ------*/

	input[type="search"]
	{
		padding: .375em 2em;
	}



	
	/*---------- BANNER SPECIFIQUE AUTRES PAGES -----------*/
	
	.heights100p
	{
		height: 55vh;
	}



	
	/*----------- DESIGN EVENT / RECIPE -----------*/

	.team-area
	{	
		width: 100vw;
		align-items: center;
	}
	
	.single-team
	{
		transition: none;
		display: flex;
		flex-flow: column wrap;
		padding: 24px;
		height: 350px;
		position: relative;
		margin: 10px 5% 10px 5%;
		transition: none;
		margin-bottom: 20px;
		transform: translateY(0); 
	}

	/* Annul effet transition sur les img recipe et event */
	.single-team:hover
	{
		transform: translateY(0px);
	}

	.single-team .team-text
	{
		bottom: 10%;
		opacity: 1;
		/* annule effet texte qui monte au hover */
		transform: translateY(0); 
	}



	/*---- RECIPE / EVENT/ ADDRESS : ANNULATION ANIMATIONS SUR PAGES INDEX ----*/
	
	.btn_creation
	{
		animation: none;
		width: 250px;
	}



	/*------------- HOME ---------------*/
	
	
	#home .img_fond
	{
		position: absolute;
		right: 7%;
		top: -2%;
		transform: rotate(-125deg);
		width: 35vw;
	}

	#home .img_fond2
	{
		position: absolute;
		left: 10%;
		top: -3%;
		transform: rotate(0deg);
		width: 35vw;
	}

	#home .btnD3
	{
		border-bottom: 1.5px solid #D46C00;
		transition: none;
	}


	#home .recipe .text_descriptif,
	#home .event .text_descriptif
	{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}


		/*----- HOME : PART RECIPE ----*/

		#home .recipe .text_descriptif p
		{
			font-size: 0.9em;
			line-height: 7vw;
			margin: 0 0 30px 0px;
		}

		#btn_recipe
		{
		    animation: none;
		    width: 80%;
		}



		/*----- HOME : PART EVENT -----*/

		#home .event .text_descriptif
		{
			display: block;
			width: 100%;
			height: 100%;
		}
		
		
		#home .event .text_descriptif p
		{
			width: 80%;
			font-weight: 100;
			text-align: left;
			letter-spacing: 2px;
			text-shadow: 3px 3px 5px black;
			z-index: 3;
		}


		#btn_event
		{
		    animation: none;
		    width: 100%;
		}

		

		/*----- HOME : PART ADDRESS ----*/
		
		#home .address .text_descriptif
		{
			width: 100%;
			height: 100%;
		}

		#home .address .text_descriptif p
		{
			margin: 0 0px 60px 0px;
			width: 80%;
		}


		#btn_address
		{
		    animation: none;
		    width: 100%;
		}

		#home .address .text_descriptif p:nth-child(2) a
		{
			color: #fff;
			font-weight: 550;
			padding: 13px 20px;
			border-radius: 5px;
			background: #D46C00;
			width: 100%;
			box-shadow: 0px 0px 17px black;
			transition: none;
		}



		/*----------- DESIGN ADDRESS -----------*/
		
		.blogpost
		{
			margin-left: auto;
			margin-right: auto;
		}

		.blogpost .imgBx
		{
			height: 250px;
		}

		/*--------- REDIRECTION DEMANDE D'INSCRIPTION --------*/
		
		#redirectionInscripCo .contentBox h1
		{
			padding-top: 0;
		}




	/*--------- PROFIL : EVENT --------*/
	
	#my_events .team-area .conteneurEvent
	{
		width: 100%;
		margin: 20px 4% 20px 4%;
	}

	#my_events .boutons_valid_annul
	{
		width: 100%;
		margin-top: 10px;
	}

	#my_events .afficheUpdateEvent,
	#my_events .afficheDeleteEvent 
	{
		background: #fff;
		font-size: 0.9em;
		font-weight: 600;
		border: none;
		border-radius: 3px;
		width: 49.1%;
		padding: 10px 0;
	}



	/*----- FENETRE DELETE MY EVENTS ----*/

	#my_events #deleteEvent
	{
		width: 90%;
	}



	/* ------ DETAIL EVENT ------*/
	
	#detail_event #tutos_events
	{
		display: flex;
		flex-flow: column wrap;
		margin-top: 50px;
	}

	#detail_event .article
	{
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
		text-align: justify;
		width: 100%;
		margin-top: 3vw;
	}


	#detail_event #tutos_events .btn_action
	{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	#detail_event .afficheUpdateEvent,
	#detail_event .afficheDeleteEvent 
	{
		background: #fff;
		font-size: 0.9em;
		font-weight: 600;
		border: none;
		border-radius: 3px;
		width: 100%;
	}




	/*-------------- DELETE MES RENCONTRES ------------*/

	#my_events .deleteEvent
	{
		width: 90%;
		padding: 40px 20px;
	}

	#my_events #deleteEvent p
	{
		font-size: 1.1em;
		margin-bottom: 20px;
		font-weight: 500;
	}

	#my_events #deleteRenc .bouton_horizontal button
	{
		border: 1px solid #fff;
		font-size: 1.1em;
		padding: 5px 10px;
	}



	/*-------------- ADDRESS --------------*/
	
	#address #filtre
	{
		margin-bottom: 15px;
	}

	#address #filtre select
	{
		width: 100%;
	}

	#address .blogpost .content .btnD1
	{
		position: relative;
	}

	#address select
	{
		width: 100%;
	}




	/*----- TABLEAU DE BORD : IMG PROFIL------*/

	.photo_profil
	{
		width : 35vw;
		height: 35vw;
		bottom: 12%;
	}

	.photo_profil img
	{
		width: 100%;
	}
	

	/*--------- TABLEAU DE BORD : PROFIL INDEX ---------*/
	
	#tableau_bord #contenu_profil
	{
	    margin-top: 120px;
	}

	#tableau_bord #menu_profil a
	{
		height: 60px;
	}

	

	/*--------- PROFIL VIEW -------*/
	
	#profil #profilView
	{
	    padding-top: 100px;
	}

	#profil #presentation_profil
	{
	    width: 90%;
	    border-radius: 5px;
	    height: 420px;
	    color: #2C2221;
	}

	#profil .relative img
	{
		width: 25vw;
	}

	#profil .relative img:first-child
	{
		left: 70%;
	}

	#profil .relative img:nth-child(2)
	{
		right: 70%;
		top: 85%;
	}



	/*--------- PROFIL UPDATE -------*/
	
	#profilUpdate h2
	{
	    margin-top: 100px;
	    margin-bottom: 20px;
	}

	/*------------ PAGES : UPDATE MES RENCONTRES / ADD RENCONTRE / ADD RECETTE /ADD ADRESSE----------*/
	
	#updateEvent form,
	#my_recipes form,
	#addEvent form,
	#addRecipe form,
	#addAddress form
	{
	    display: flex;
	    flex-flow: column wrap;
	    justify-content: space-evenly;
	    padding-top: 50px;
	}

	#updateEvent form div,
	#my_recipes form div,
	#addEvent form div,
	#addRecipe form div,
	#addAddress form div
	{
	    width: 100%;
	}
		

	/*-------- CONNEXION / INSCRIPTION / SUITE INSCRIPTION / CONTACT ---------*/

	#connexion form,
	#inscription form,
	#contact form,
	#suiteInscription form
	{
	    z-index: 1000;
	    position: relative;
	    padding: 50px 0;
	}

	#connexion form,
	#inscription form,
	#contact form,
	#suiteInscription form
	{
		width: 90vw;
	}

	#connexion .form-control,
	#inscription .form-control,
	#contact .form-control,
	#suiteInscription .form-control
	{
		height: 40px;
		width: 90vw;	
	}

	#connexion label,
	#inscription label,
	#contact label,
	#suiteInscription label
	{
		font-size: 1em;
		margin-bottom: .90rem;
	}

	#connexion .form-control,
	#inscription .form-control,
	#contact .form-control,
	#suiteInscription .form-control
	{
		font-size: 1em;
		font-weight: 150;
	}
	


	/*--------------- RGPD : PAGES LEGAL / POLICY / COOKIES --------------*/

	#cookie,
	#policy,
	#legal
	{
		margin-top: 100px;
		width: 85%;
	}

	#cookie h1,
	#policy h1,
	#legal h1
	{
		margin-bottom: 10vw;
	}

	#cookie h2,
	#policy h2,
	#legal h2
	{
		margin-top: 10vw;
	}

	#cookie p,
	#policy p,
	#policy li,
	#legal p
	{
		font-size: 1em;
	}



	/*--------------- FOOTER --------------*/

	footer
	{
		min-height: 120px;
	}

	footer .sci
	{
		flex-flow: column wrap;
	}

	footer .sci a
	{
		transition: none;
	}


	/*--------------PAGE 404 ---------------*/
	
	#p404
	{
		height: calc(100vh - 120px);
	}
	#p404 h1
	{
		margin: 2vw 0 12vw 0;
		font-size: 1.9em;
	}

	#p404 p
	{
		width: 80%;
		text-align: center;
	}

	#p404 .btnD1
	{
		font-size: 1.2em!important;
	}


}