
/* -------------- GENERAL ---------------- */

*
{
	outline: none !important;
	scroll-behavior: smooth; /* pour que les transitions avec les ancres soient fluides*/
}

body
{
	font-family: 'Poppins', sans-serif;
	background: #36392F;
}


/* mini logo dans la nav */
.logo
{
	width: 40px;
}

/* grand logo sur la page d'accueil + page redirectioninscripco */
.big_logo
{
	width: 120px;
}

a, h2
{
	color: #fff;
}

a:hover
{
	text-decoration: none;
	color: #fff;
}

h2
{
	font-size: 2.5em;
	margin-bottom:40px;
	text-shadow: 3px 3px 5px black;
	z-index: 20;
}

p
{
	font-size: 0.9em;
}


/* Boutons "connexion", "inscription" et "déconnexion" */
.btn_connexion
{
	border: 2px solid #D46C00;
	color: #D46C00;
	background: none;
	border-radius: 3px;
	outline:none;
	width: 190px;
	font-weight: 500;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
	transition: all 1s;
}

.btn_connexion:hover
{
	background: #D46C00;
	color: #fff;
}

/* Boutons "connexion" et "inscription" */
#home .btn_connexion,
#redirectionInscripCo .btn_connexion
{
	letter-spacing: 1.5px;
	padding: 10px 10px;
	font-size: 1em;
	box-shadow: 0px 0px 17px black;
}


.blog
{
	position: relative;
	padding: 50px 0 100px 0;
}


/* class utilisée sur tous les boutons de
 validation ou d'annulation présents dans les formulaires */
.bouton_valid, a.bouton_valid
{
	font-size: 0.95em;
 	color: white; 
	background-color:  #777E31;
	border: none;
	border-radius: 5px;
	margin: 20px;
	height: 45px;
	width: 120px;
	cursor: pointer;
	box-shadow: 0px 0px 17px black;	
	transition: all 1s;
}

a.bouton_valid
{
	padding: 12px 31px;
}

.bouton_valid:hover
{
	background-color: #465512;
}


/* boutons "créer event", "créer recipe",
 créer address" "Je veux participer" ,"retour vers l'accueil" */
.btnD1
{
	color: #fff;
	background: #D46C00;
	border: none;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	box-shadow: 0px 0px 17px black;
	margin: 30px 0 30px 0;
	padding: 10px 30px;
	transition: all 1s;
}


.btnD1:hover
{
	background: #C83D00;
	color: #fff;
}

#text-center
{
	text-align: center;
	margin-bottom: 30px;
}



/*------BARRE DE RECHERCHE ------*/

.search
{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.text-box
{
	border-bottom: 1px solid #fff;
	width: 20vw;
}

.text-box form
{
	display: flex;
	justify-content: flex-end;
}

.text-box button
{
	background: transparent;
	color: #fff;
	border: none;
}

input[type="search"]
{
	border: none;
	padding: .375em .75em;;
	width: 100%;
	color: #fff;
	background: transparent;
}



/*--------- NAVIGATION ----------*/

nav a
{
	color: #747474;
	transition: all 1s;
}

nav a:hover
{
	text-decoration: none;
	color: #cecece;
}

.navbar
{
	background: transparent!important;
	transition: 0.5s;
}

.navbar.scrolled
{
	background: #36392F!important;
	transition: 0.5s;
	border-bottom: 1px solid #fff;
}

/* Bordure du hamburger mise en transparence */
.navbar-light .navbar-toggler
{
    border-color: transparent;
}

/* image hamburger et sa taille */
.navbar-light .navbar-toggler-icon
{
	background-image: url("../img/menu1.png");
	font-size: 22px;
}

.navbar-light .navbar-nav .nav-link
{
	color: rgba(255,255,255,0.8);
	font-size: 0.9em;
	margin-left: 7px;
	margin-right: 7px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
	color: rgba(255,255,255,1);
}

/* Bouton "déconnexion" dans le menu */
.navbar .btn_connexion
{
	position: relative;
	top: 15%;
	padding: 7px 7px;
	font-size: 0.9em;
}



/*---------- HOME -> INDEX -----------*/


/* image de fond "branche" */
#home .img_fond
{
	/* class "blog" est le parent, 
	mis en position relative ligne 47  */
	position: absolute;  
	right: 7%;
	top: -10%;
	transform: rotate(-125deg);
	width: 27vw;
}

/* image de fond "grappe raisins" */
#home .img_fond2
{
	/* class "blog" est le parent, 
	mis en position relative ligne 47  */
	position: absolute;
	left: 25%;
	top: -4%;
	transform: rotate(0deg);
	width: 17vw;
}


/* liens qui bougent */
#home .btnD3
{
	border-bottom: 1.5px solid #fff;
	color: #fff;
	padding: 10px 0;
	font-size: 1.1em;
	width: fit-content;
	font-weight: 500;
	transition: all 1.5s;
}

#home .btnD3:hover
{
	border-bottom: 1.5px solid #D46C00;
}

#home .recipe .text_descriptif,
#home .event .text_descriptif
{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 100%;
}


	/*----- HOME->INDEX : PART RECIPE ----*/

	#home .recipe .text_descriptif p
	{
		width: 80%;
		line-height: 2vw;
		margin: 0 0 60px 0px;
		color: #fff;
		font-weight: 100;
		font-size: 0.8em;
		text-align: left;
		letter-spacing: 2px;
		text-shadow: 3px 3px 5px black;
		z-index: 3;
	}


	/*----- HOME->INDEX : PART EVENT----*/

	#home .event .text_descriptif p
	{
		width: 80%;
		line-height: 2vw;
		margin: 0 0 60px 90px;
		color: #fff;
		font-weight: 100;
		font-size: 0.8em;
		text-align: right;
		letter-spacing: 2px;
		text-shadow: 3px 3px 5px black;
		z-index: 3;
	}

	#home .event .btnD3
	{
		margin-left: 40px;
	}



	/*----- HOME->INDEX : PART ADDRESS ----*/

	#home .address .text_descriptif
	{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
	}

	#home .address .text_descriptif p
	{
		width: 80%;
		line-height: 2vw;
		margin: 0 90px 60px 20px;
		color: #fff;
		font-weight: 100;
		font-size: 0.8em;
		text-align: left;
		letter-spacing: 2px;
		text-shadow: 3px 3px 5px black;
		z-index: 3;
	}

	/* enlever le box-shadow du texte du bouton 
	"Demande de renseignements" */
	#home .address .text_descriptif p:nth-child(2)
	{
		text-shadow: none;
	}

	#home .address .text_descriptif p:nth-child(2) a
	{
		color: #fff;
		font-weight: 550;
		font-size: 1.3em;
		padding: 13px 20px;
		border-radius: 5px;
		background: #D46C00;
		box-shadow: 0px 0px 17px black;
		transition: 1s;
	}

	#home .address .text_descriptif p:nth-child(2) a:hover
	{
		background: #C83D00;
	}

	/* centrer verticalement le texte */
	#home .address .row
	{
		display: flex;
		align-items: center;
	}

	#home .address .text_descriptif p:first-child
	{
		margin-bottom: 0;
	}

	#home .address .text_descriptif p:nth-child(2)
	{
		margin: 40px 0px 40px 0;
	}



	/* --------HOME :  IMAGE "fouchette et couteau" BOUTON ANIME  --------- */

		.btn_recipe, .btn_event, .btn_address
		{
			width: 40px;
			margin-left: 20px;
			text-align: center;
		}
		
		/*---- HOME : RECIPE - bouton animé "voir toutes les recettes" ----*/

		#btn_recipe
		{	
		    animation: btnrecipe 0.8s ease-in-out infinite alternate;
		    width: 100%;

		}

		@keyframes btnrecipe
		{
		    from
		    {
		    	transform: translateX(25px);
		    }
		    to   
		    {
		    	transform: translateX(50px);
		    }
		}



		/*---- HOME : EVENT bouton animé "voir toutes les rencontres" ----*/

		#btn_event
		{
		    animation: btnevent 0.8s ease-in-out infinite alternate;
		    width: 100%;
		}

		@keyframes btnevent
		{
		    from 
		    {
		    	transform: translateX(30px);
		    }
		    to   
		    {
		    	transform: translateX(5px);
		    }
		}
		

		/*---- HOME : ADDRESS bouton animé "voir toutes les bonnes adresses" ----*/

		#btn_address
		{	
		    animation: btnaddress 0.8s ease-in-out infinite alternate;
		    width: 100%;
		}

		@keyframes btnaddress
		{
		    from
		    {
		    	transform: translateX(25px);
		    }
		    to   
		    {
		    	transform: translateX(50px);
		    }
		}



	/*---- BTNS ORANGE ANIMES SUR PAGES RECIPE->INDEX / 
	EVENT->INDEX / ADDRESS->INDEX ----*/

	.btn_creation
	{
		animation: btncreation 0.8s ease-in-out infinite alternate;
		width: 250px;
		margin-left: 0;
		text-align: center;
	}

	@keyframes btncreation
	{
	    from
	    {
	    	transform: translateX(15px);
	    }
	    to   
	    {
	    	transform: translateX(-15px);
	    }
	}


/*---------- BANNER SPECIFIQUE AUX PAGES HOME 
 INDEX + REDIRECTIONINSCRIPCO -----------*/

#home .banner,
#redirectionInscripCo .banner
{
	position: relative;
	top: 0;
	width: 100%;
	height: 75vh;
	background:url(../img/fond3.jpg) no-repeat center fixed;
	background-size: cover;
	margin-bottom:0;
}

#home .banner::before,
#redirectionInscripCo .banner::before
{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 400px;
	background: linear-gradient(#000, transparent);
	pointer-events: none;
}

#home .banner::after,
#redirectionInscripCo .banner::after
{
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 400px;
	background: linear-gradient(360deg,#000, transparent);
	pointer-events: none;
}

#home .height100p,
#redirectionInscripCo .height100p
{
	height: 100vh;
}



/*---------- BANNER SPECIFIQUE AUX AUTRES PAGES -----------*/

.banners
{
	position: relative;
	top: 0;
	width: 100%;
	height: 70vh;
	background:url(../img/fond-rond.png) no-repeat center;
	background-size: cover;
	margin-bottom:0;
}

.banners::before
{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 400px;
	background: linear-gradient(#000, transparent);
	pointer-events: none;
}

.heights100p
{
	height: 70vh;
}

.h100
{
	height:100%;
}

.contentBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}

.contentBox h1
{
	color: #fff;
	text-transform: uppercase;
	font-size: 3.5em;
	font-family: 'Fascinate Inline', 'Poppins', sans-serif;
	margin-bottom: 40px;
	letter-spacing: 3px;
	text-shadow: 3px 3px 5px black;
}

.contentBox h2
{
	color: #fff;
	font-size: 1.3em;
	margin-bottom: 40px;
	text-shadow: 3px 3px 5px black;
}


/*----------- DESIGN EVENT / RECIPE -----------*/

.container-area
{
	width: 100%;
	display: flex;
	justify-content: center;
}

.team-area
{
	display: flex;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	flex-flow: row wrap;
	align-items: flex-start;
	margin: 20px 0 0 0;
}

/* bloc qui contient img et txt de l'event et de la recipe */
.single-team
{
	width: 29%;
	height: 400px;
	padding: 24px;
	position: relative;
	margin: 20px 2.1666% 20px 2.1666%;
	transition: 0.6s ease-out;
	box-shadow: 0px 0px 17px black;
}

/* bloc bouge au hover */
.single-team:hover
{
	transform: translateY(15px);
}

.single-team:hover::before
{
	opacity: 1;
}

.single-team:hover .team-text
{
	opacity: 1;
	transform: translateY(0);
}

/* ombrage sur img */
.single-team::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #111111, transparent);
	z-index: 2;
	transition: 0.5s;
}

.single-team img
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.single-team .team-text
{
	position: absolute;
	width: 91%;
	bottom: 5%;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(30px); /* effet du texte qui apparaît en montant */
	transition: 0.5s;
}

.team-text h2
{
	margin: 0;
	width: 90%;
	font-size: 1.2em;
	letter-spacing: 2px;
}

.para
{
	margin-top: 18px;
}

.team-text p
{
	letter-spacing: 1px;
	font-size: 0.9em;
	width: 100%;
	height: 30px;
	display: inline-block;
	margin: 0 5px;
	text-shadow: 3px 3px 5px black;
	text-decoration: none;	
}



/*----------- DESIGN ADDRESS -----------*/

.blogpost
{
	position: relative;
	width: 100%;
	margin-top: 30px;
	background: #fff;
	box-shadow: 0px 0px 17px black;
}


.blogpost .imgBx
{
	height: 350px;
	overflow: hidden;
}

.blogpost .imgBx img
{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1.5s;
	transition: 1.5s;
}

.blogpost .imgBx img:hover
{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.blogpost .content
{
	padding: 15px 20px 30px 20px;
	height: fit-content;
	position: relative;
}

.blogpost .content h3
{
	margin: 0;
	padding: 0 0 20px;
	font-weight: 600;
	font-size: 1.5em;
}

.blogpost .content .btnD1
{
	width: 100%;
}

/* lien qui redirige vers les sites web des Bonnes Adresses */
.lien_colore
{
	color: #fff;
	font-size: 1em;
	background: #777E31;
	box-shadow: 0px 0px 17px black;
	padding: 7px 9px;
	border-radius: 3px;
	transition: 1s;
}

.lien_colore:hover
{
	color: #fff;
	background: #465512;
}





/*----------- ADDRESS : PAGE INDEX -----------*/

#address #filtre
{
	margin-top: 30px;
	display: flex;
	flex-flow: column wrap;
}


#address #filtre select,
#address #filtre option
{
	height: 30px;
	padding-left: 5px;
	width: 350px;
	border-radius: 5px;
	border: none; 
	box-sizing: border-box; 
}

#address #filtre label
{
	color: #fff;
}

#address #filtre select
{
	font-size: 1em;
}

#address #filtre option
{
	font-size: 0.8em;
}

#address .row
{
	margin-top: 20px;
}





/*--------- TABLEAU DE BORD : MY EVENTS --------*/

#my_events .team-area .conteneurEvent
{
	width: 29%;
	margin: 20px 2.1666% 20px 2.1666%;
}

#my_events .single-team
{
	width: 100%!important;
	height: 350px;
	margin: 0 0 0 0;
}

/* div contenant les boutons "modif" et "suppr" */
#my_events .boutons_action
{
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

/* 1er bouton pour modifier event et 2d bouton pour supprimer event */
.displayUpdateEvent,
.displayDeleteEvent
{
	background: #fff;
	font-size: 0.9em;
	font-weight: 600;
	border: none;
	border-radius: 3px;
	width: 49.1%;
	padding: 10px 0;
}

a.displayUpdateEvent
{
	color : #000;
	text-align: center;
}

/* icones crayon et poubelle */
.iconesMS
{
	width: 30px;
	margin-left: 5px;
	vertical-align: middle;
	
}

/* Afficher texte sur image event */
#my_events .single-team .team-text
{
	bottom: 10%;
	opacity: 1;
}

#my_events .single-team:hover
{
	transform: translateY(0); /* annuler l'effet du bloc qui bouge au hover*/
}




/*------------ PAGES : UPDATE + ADD EVENT / 
ADD + UPDATE RECIPE /ADD + UPDATE ADDRESS----------*/

#addEvent,
#updateEvent,
#addRecipe,
#updateRecipe,
#addAddress,
#updateAddress
{
	color: #fff;
}

#addEvent img,
#updateEvent img,
#addRecipe img,
#updateRecipe img,
#addAddress img,
#updateAddress img
{
	width: 100%;
	overflow: hidden;
}

#addEvent form,
#updateEvent form,
#addRecipe form,
#updateRecipe form,
#addAddress form,
#updateAddress form
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding-top: 100px;
}

#addEvent label,
#updateEvent label,
#addRecipe label,
#updateRecipe label,
#addAddress label,
#updateAddress label
{
	width: 100%;
}

#addEvent form div, 
#updateEvent form div, 
#addRecipe form div, 
#updateRecipe form div, 
#addAddress form div,
#updateAddress form div
{
	width:23vw;
}

#addEvent form input,
#addEvent form textarea,
#updateEvent form input,
#updateEvent form textarea,
#addRecipe form input,
#addRecipe form textarea,
#addRecipe form select,
#addRecipe form option,
#updateRecipe form input,
#updateRecipe form textarea,
#updateRecipe form select,
#updateRecipe form option,
#addAddress form input,
#addAddress form textarea,
#addAddress form select,
#addAddress form option,
#updateAddress form input,
#updateAddress form textarea
#updateAddress form select,
#updateAddress form option

{
	height: 30px;
	width: 100%;
	font-size: 1em;
	padding : 5px;
	border-radius: 5px;
	border: none; 
	box-sizing: border-box;
}


#addEvent textarea[name='program'],
#updateEvent textarea[name='program']
{
	min-height: 350px;
}

#addRecipe textarea[name='program'],
#updateRecipe textarea[name='program']
{
	min-height: 200px;
}


#addRecipe form button,
#updateRecipe form button
{
	width: 70%;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: ;
}


#addEvent textarea[name='address'],
#updateEvent textarea[name='address'],
#addRecipe textarea[name='ingredient'],
#updateRecipe textarea[name='ingredient'],
#addAddress textarea[name='address'],
#updateAddress textarea[name='address'],
#addAddress textarea[name='description'],
#updateAddress textarea[name='description']
{
	min-height: 85px;
	width: 100%;
}

#bouton_validation
{
	text-align: center;
	margin: 40px 0 40px 0;
}

#addEvent #bouton_validation input, 
#updateEvent #bouton_validation input, 
#addRecipe #bouton_validation input,
#updateRecipe #bouton_validation input,
#updateAddress #bouton_validation input,
#addAddress #bouton_validation input,
#updateAddress #bouton_validation input
{
	margin: 0 20px 0 20px;
}




/*-------------- FENETRE DELETE MY EVENTS ------------*/

#deleteEvent
{
	display: none;
	justify-content: center;
	align-items: center;
	background: #D46C00;
	width: 40%;
	border-radius: 5px;
	padding: 60px 20px;
	box-shadow: 0px 0px 17px black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	z-index: 5000;
}

#deleteEvent p
{
	font-size: 1.7em;
	margin-top: 0;
	color: #fff;
	margin-bottom: 50px;
	font-weight: 600;
	text-align: center;
}

#deleteEvent .bouton_horizontal
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#deleteEvent .bouton_horizontal .cancelDeleteEvent,
#deleteEvent .bouton_horizontal .validDeleteEvent
{
	border: 2px solid #fff;
	border-radius: 50px;
	background: #D46C00;
	color: #fff;
	font-size: 1.4em;
	padding: 7px 15px;
	margin-left: 20px;
	margin-right: 20px;
	transition-duration: 1s;
}

#deleteEvent .bouton_horizontal .cancelDeleteEvent:hover,
#deleteEvent .bouton_horizontal .validDeleteEvent:hover
{
	background-color : #C83D00;
}



/* ------ DETAIL EVENT ------*/

#detail_event 
{
	color: #fff;
}

#detail_event .article
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	text-align: justify;
	margin-top: 3vw;
}

#detail_event #tutos_events .btn_action
{
	width:25vw;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 100px;
}


#detail_event .btn_action
{
	flex-flow: row wrap!important;
	justify-content: space-evenly;
	text-align: justify;
	margin-bottom: 20px!important;
}

#detail_event .iconesMS
{
	width: 30px;
	vertical-align: middle;
}


#detail_event img
{
	width: 100%;
	border-radius : 5px 5px 0 0;
}

#detail_event table
{
	width: 100%;
	background-color: #777E31;
	border-radius : 0 0 5px 5px;
}

#detail_event td
{
	padding: 1vw;
}

#detail_event .program
{
	font-size: 1.2em;
}

/* bouton indiquant le nombrede places restantes */
.orange
{ 
	color: #C83D00;
	font-size: 1.5em;
	font-weight: 800;
	margin-bottom: 10px;
	text-shadow: 3px 3px 5px black;
}

/* h2 'commentaires' */
#detail_event h2
{
	text-align: center;
	font-size: 1.7em;
	font-weight: 600;
	margin-top: 3vw;
	margin-bottom: 3vw;
	text-shadow: 3px 3px 5px black;
}

#detail_event .bouton_valid
{
	background-color: #777E31;
	margin: 2vw 0 2vw 0;
}

#detail_event .bouton_valid:hover
{
	background-color: #465512;
}

#detail_event form
{
	width: 100%;
}

#detail_event textarea
{
	width: 100%;
	height: 70px;
	padding-left: 5px;
	border-radius: 5px;
	border: none;
}



/*--------- TABLEAU DE BORD : MY ADDRESSES --------*/

#myAddresses #addAddress
{
	margin-bottom: 50px;
}

#myAddresses #text
{
	margin-top: 50px;
}

#myAddresses h2
{
	text-align: center;
	margin-bottom: 0;
}

#myAddresses fieldset
{
	margin-top: 20px;
}

#myAddresses legend
{
	font-size: 1.2em;
}

#myAddresses #addAddress input
{
	margin-bottom: 15px;
}

#myAddresses #addAddress form input[type='submit']
{
	width: 140px;
	height: 50px;
	font-size: 1.1em;
}

/*--------- TABLEAU DE BORD : IMG PROFIL---------*/

.photo_profil
{
	width : 15vw;
	height: 15vw;
	display: block;
	overflow: hidden;
	border-radius: 300px;
	box-shadow: 0px 0px 17px black;
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%, -50%);
}

.photo_profil img
{
	width: 100%;
}


/*-----------  USER INDEX (= PAGE TABLEAU DE BORD) -----------*/

#tableau_bord #contenu_profil
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	/*margin-top: 70px;*/
	margin-top: 220px;
	padding-bottom: 100px;
}

#tableau_bord #menu_profil
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

#tableau_bord #menu_profil a
{
	height: 60px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 5px;
	border: none;
	background: #777E31;
	margin-bottom: 35px;
	box-shadow: 0px 0px 17px black;
	width: 30%;
	transition: all 1s;
	padding-right: 20px;
}

#tableau_bord #menu_profil a:hover
{
	background-color: #465512;
}

#tableau_bord #menu_profil a:last-child
{
	background: #D46C00;
}

#tableau_bord #menu_profil a:last-child:hover
{
	background: #C83D00;
}

#tableau_bord #menu_profil a
{
	font-size: 1em;
}

#tableau_bord #menu_profil img
{
	width: 40px;
}



/*--------- USER->USER VIEW -------*/

#profil #profilView
{
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding-top: 200px;
	padding-bottom: 100px;
}

#profil h2
{
	text-align: center;
	font-size: 2.5em;
	margin-bottom:20px;
}

#profil .relative
{
	position: relative;
}

#profil .absolute
{
	position: absolute;
}

#profil .relative img
{
	width: 9vw;
}

#profil .relative img:first-child
{
	left: 70%;
	top: -10%;
}

#profil .relative img:nth-child(2)
{
	right: 70%;
	top: 80%;
	transform: rotate(30deg);
}

#profil #presentation_profil
{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 40vw;
	border-radius: 5px;
	height: 420px;
	color: #2C2221;
	font-weight: 600;
	text-align: center;
	background: url("../img/livre_profil2.jpg") no-repeat center;
}

#profil #presentation_profil p
{
	font-size: 1.1em;
}


#profil #bouton_validation
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0px 0 0px 0;

}

#profil #bouton_validation .btnD2
{
	background: #777E31;
	box-shadow: 0px 0px 17px black;
	width: 150px;
	margin: 30px 10px 0 10px;
	color: #fff;
	transition: all 1s;
}

#profil #bouton_validation .btnD2:hover
{
	background: #465512;
	color: #fff;
}




/*--------- PROFIL UPDATE -------*/

#profilUpdate
{
	color: #fff;
	padding-bottom: 100px;
}

#profilUpdate h2
{
	margin-top: 200px;
	margin-bottom: 40px;
}

#profilUpdate .photo_profil
{
	margin-bottom: 30px;
}

#profilUpdate form
{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

#profilUpdate label
{
	font-size: 0.9em;
	font-weight: 500;
}

#profilUpdate .contener_img
{
	width : 17vw;
	height: 17vw;
	display: block;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 0px 17px black;
	margin: 15px 0 15px 0;
}

#profilUpdate .contener_profil img
{
	height: 100%;
}

#profilUpdate .input,
#profilUpdate select,
#profilUpdate option
{
	height: 30px;
	width: 350px;
	font-size: 1em;
	border-radius: 5px;
	padding: .375em .75em;
	border: none; 
	box-sizing: border-box; 
}

#profilUpdate option
{
	width: 100px!important;
	font-size: 0.8em;
	box-sizing: border-box; 
}

#profilUpdate input[type='file']
{
	width: 100%;
}

#profilUpdate #bouton_validation
{
	padding-bottom: 70px;
}

#profilUpdate p:last-child
{
	margin-bottom: 0;
}


/*-------- CONNEXION / INSCRIPTION / SUITE INSCRIPTION / CONTACT ---------*/
/* Mise en page de l'image de fond et des formulaires */
#connexion .banner,
#inscription .banner,
#suiteInscription .banner,
#contact .banner,
#contactMessage .banner
{
	position: relative;
	top: 0;
	width: 100%;
	min-height: 85vh;
	background:url(../img/fond3.jpg) no-repeat center fixed;
	background-size: cover;
	margin-bottom:0;
}

#connexion .banner::before,
#inscription .banner::before,
#suiteInscription .banner::before,
#contact .banner::before,
#contactMessage .banner::before
{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 400px;
	background: linear-gradient(#000, transparent);
	pointer-events: none;
}

#connexion .height100p,
#inscription .height100p,
#suiteInscription .height100p,
#contact .height100p,
#contactMessage .height100p
{
	min-height: 75vh;
}

#connexion .banner::after,
#inscription .banner::after,
#suiteInscription .banner::after,
#contact .banner::after,
#contactMessage .banner::after
{
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 400px;
	background: linear-gradient(360deg,#000, transparent);
	pointer-events: none;
}

/* le form prend minimum 90vh de la hauteur du screen */
.centrer_form
{
	display: flex;
	flex-flow: column wrap;
	min-height: 90vh;
	justify-content: center;
	align-items: center;
}

#connexion form,
#inscription form,
#contact form,
#suiteInscription form
{
	z-index: 1000;
	position: relative;
	padding: 50px;
}

#connexion h1,
#inscription h1,
#contact h1,
#suiteInscription h1
{
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	font-size: 2.5em;
}

#connexion .form-control,
#inscription .form-control,
#contact .form-control,
#suiteInscription .form-control
{
	background: transparent;
	border:none;
	border-bottom: 1.5px solid rgba(255,255,255,0.2);
	height: 40px;
	width: 40vw;
	background: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 0.9em;
	border-radius: 3px;
}

#connexion .form-control:focus,
#connexion .form-control:hover,
#inscription .form-control:focus,
#inscription .form-control:hover,
#contact .form-control:focus,
#contact .form-control:hover,
#suiteInscription .form-control:focus,
#suiteInscription .form-control:hover
{
	border-bottom: 1.5px solid rgba(255,255,255,1);
}

#connexion label,
#inscription label,
#contact label,
#suiteInscription label
{
	color: #fff;
	font-size: 0.95em;
	text-align: left;
}

#contact .textarea,
#suiteInscription textarea
{
	min-height:100px;
	border-radius: 3px;
}

#contactMessage p
{
	color: #fff;
	font-size: 1.2em;
	margin-bottom: 30px;
}

#contactMessage a 
{
	font-size: 0.9em;
	letter-spacing: 2px;
	background-color: #777E31;
	box-shadow: 0px 0px 17px black;
 	color: white; 
 	justify-content: center;
	border: none;
	border-radius: 5px;
	height: 40px;
	padding: 10px 15px;
	width: 100%;
	cursor: pointer;
	transition: all 1s;
}

#contactMessage a:hover
{
	background: #465512;
}


/*--------------- RGPD : PAGES LEGAL / POLICY / COOKIES --------------*/

#cookie,
#policy,
#legal
{
	margin-top: 150px;
	margin-bottom: 60px;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-shadow: 3px 3px 5px black;
}

#cookie h1,
#policy h1,
#legal h1
{
	font-size: 2em;
	margin-bottom: 3vw;
	text-align: center;
}

#cookie h2,
#policy h2,
#legal h2
{
	margin-top: 4vw;
	font-size: 1.4em;
}

#cookie h3,
#policy h3,
#legal h3
{
	margin: 3vw 0 1vw 0;
	font-size: 1.1em;
}

#legal h4
{
	font-size: 0.95em;
}

#cookie p,
#policy p,
#policy li,
#legal p
{
	font-size: 0.8em;
}

#cookie a,
#policy a,
#legal a
{
	text-decoration: underline;
}

#legal span
{
	font-size: 1em;
}



/*--------------- FOOTER --------------*/

footer
{
	background: #000;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 90px;
}

/* div contenant les 3 liens RGPD */
footer .sci
{
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .sci a
{
	color: #777;
	font-size: 0.9em;
	margin: 0 10px 0 10px;
	transition: 0.5s;
}

footer .sci a:hover
{
	color: #fff;
}

footer p
{
	text-align: center;
	color: #fff;
	margin: 0;
}

/*--------------PAGE 404 ---------------*/

/* aligner horizontalement et verticalement le contenu de la page 404 */
#p404
{
	color: #fff;
	text-shadow: 3px 3px 5px black;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 90px);
}

#p404 h1
{
	margin: 2vw 0 3vw 0;
}

#p404 p
{
	font-size: 1.2em;
	margin-bottom: 2vw;
}

#p404 a
{
	text-shadow: 0 0 0 ;
}


/*--------	AFFICHAGE REGEX JS ---------*/

#contact p, #contact li,
#inscription p, #inscription li,
#suiteInscription p, #suiteInscription li,
#connexion p, #connexion li,
#profilUpdate p, #profilUpdate li
{
	color: #C83D00;
	margin-bottom: 1vh;
	text-shadow: 30px 30px 30px black;
	font-size: 0.9em;
	text-align: left;
	font-weight: 570;
}

